// Colores

amarillo = #ffc600
blanco = #f6f6f6
blanco2 = #f5f5f5
gris = #999
negro = #272727
plata = #666
plomo = #333
verde = #C7DE45
turquesa = #009BA9
o-turquesa = #006670

borde-formulario = #dedede
relleno-formulario = #fafafa

// Dimensiones

maxima-dimension = 1171px
maxima-dimension-1000 = 924px
maxima-dimension-tablet = 700px
maxima-dimension-movil = 680px

//Font Size
texto-xs = 10px
texto-sm = 12px
texto-md = 14px
texto-lg = 18px
texto-xl = 24px
texto-xxl = 32px


// Bordes
borde-suave = 3px
